body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    overflow: hidden;
    font-family: poppins, sans-serif;
    color: #666666;
}

.background-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.hidden {
    opacity: 0;
}

.floating-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.99);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-height: 80vh;
    min-width: 80%;
}
.floating-container h2 {
color: #ff4081;
margin-bottom: 10px; /* Margen inferior para separar el título del contenido */
}

.floating-container p {
font-size: 18px;
margin-bottom: 10px; /* Margen inferior para separar los párrafos */
}

.form-container input[type="text"],
.form-container input[type="submit"], .button-submit {
    width: calc(95% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #afafaf; 
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #000;
}

.form-container input[type="text"]::placeholder {
    color: #888; 
}

.form-container input[type="submit"] , .button-submit{
    background-color: #ff76a4; 
    color: #f4f4f4;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    width: 95%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container input[type="submit"]:hover, .button-submit:hover {
    background-color: #e8e8e8; 
}

.form-container input[type="submit"]:active, .button-submit:active {
    background-color: #e8e8e8; 
}

.form-container {
    margin-top: 20px;
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.form-container input[type="text"] {
    margin-bottom: 15px;
    font-size: 16px;
}

.form-container input[type="text"]:focus {
    outline: none;
    border: 2px solid #ff76a4;
}

.view-container {
    display: none;
    margin: 0 auto; 
}

.view-container.active {
    display: block;
}

.minimized {
    display: none;
}

table {
    width: 100%;
    word-wrap: break-word;
    table-layout: fixed;
}

th, td {
    padding: 10px;
    border-radius: 15px;
    color: #0000005e;
}

#guestTable {
    width: 100%;
    margin-top: 20px; 
}

#guestTable thead {
    display: none; 
}

#guestTableBody {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#guestTableBody tr {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #ff76a466;
}

#guestTableBody td {
    border: none;
    padding: 5px 0;
    flex: 1;
    color: #6c6c6c;
    text-align: left; 
    font-weight: 400;
}

#chatTable {
    display: flex;
    flex-direction: column;
    width: 100%; 
}


#chatTable th {
    display: none;
}

#chatTable td {
    background-color: #ff76a44c;
    margin-bottom: 10px;
    margin-top: 5px; 
    color: #000;
    position: relative;
    padding: 10px 15px; 
    word-break: break-word;
}

#chatTable td.sent {
    background-color: #ff76a4;
    align-self: flex-end;
    margin-left: auto;
}

#chatTable td.received {
    background-color: #fff;
    color: #000;
    align-self: flex-start;
}

#chatTable {
    display: flex;
    flex-direction: column;
}

#chatTableBody {
    display: flex;
    flex-direction: column;
}


.nav-buttons-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-buttons-container button ,
.nav-buttons-container input[type="submit"] {
    background-color: #ff76a4; 
    color: #ffffff; 
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.nav-buttons-container button:hover,
.nav-buttons-container input[type="submit"]:hover  {
    background-color: #ff76a4;
}

.playlist-heading {
    font-size: 24px;
    margin-bottom: 15px;
    color: #27882fa3; 
}

.playlist-list {
    list-style-type: none;
    padding: 0;
    text-align: left; 
}

.playlist-list li {
    margin-bottom: 10px;
}

.playlist-list li a {
    text-decoration: none;
    color: #22620ec0;
    transition: color 0.3s ease;
    font-weight: bold; 
    display: inline-block;
}

.playlist-list li a:hover {
    color: #51d928cd; 
    text-decoration: underline; 
}
#spotifyPlaylistContainer {
    justify-content: flex-start !important;
    text-align: left; 
}

.chat-body{
    border: 1px solid rgb(214, 214, 214);
    border-radius: 25px;
    padding: 10px;
    overflow: auto;
    height: 280px;
    margin-top: 10px;
}

.view-container h3 {
    font-size: 16px;
    margin-bottom: 0;
}

.view-container p {
    font-size: 1rem;
    margin: 0;
}

.playlist-spotiyfy {
    overflow: auto;
    margin-top: 8px;
    height: 440px;
}

.playlist-spotiyfy h4 {
    margin-bottom: 0;
}

.playlist-spotiyfy a {
    color: inherit;
    text-decoration: none;
}
