body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    max-width: 399px;
}

.background-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.floating-container {
    width: 100%;
    display: flex; /* Agrega display flex */
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: flex-center; 
}

.floating-container h1 {
    color: #ffcd00; /* Color amarillo Pac-Man */
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 24px;
}

.floating-container span {
    color: #ffcd00; /* Color amarillo Pac-Man */
    font-size: 20px;
    margin-top: 10px;
}

.floating-container p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #000; /* Texto blanco */
}
.form-container input[type="text"],
.form-container input[type="submit"] {
    width: calc(90% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ffcc00c7; /* Borde oscuro */
    border-radius: 5px;
    background-color: #ffcc004b; /* Fondo oscuro */
    color: #000; /* Texto blanco */
}

.form-container input[type="text"]::placeholder {
    color: #888; /* Color de placeholder */
}

.form-container input[type="submit"] {
    background-color: #ffcd00; /* Color amarillo Pac-Man */
    color: black; /* Texto negro */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container input[type="submit"]:hover {
    background-color: #ffea70; /* Color más claro al pasar el cursor */
}

.form-container input[type="submit"]:active {
    background-color: #e6b800; /* Color al hacer clic */
}

.form-container {
    margin-top: 20px;
    max-width: 90%; 
    text-align: center; /* Centrar los inputs */
    display: flex; /* Agrega display flex */
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; 
}

.form-container input[type="text"] {
    margin-bottom: 15px;
    font-size: 16px; /* Aumenta el tamaño de fuente */
}

.view-container {
    display: none;/* Ajusta el ancho máximo del formulario */
    margin: 0 auto; 
}

.view-container.active {
    display: block;
}

.minimized {
    display: none;
}
/* Ajustes generales para tablas */
table {
    width: 100%;
    word-wrap: break-word;
    table-layout: fixed;
}

/* Estilo para encabezados generales */
th, td {
    padding: 10px;
    border-radius: 15px;
    color: #0000005e;
}

/* Estilo específico para la tabla de la lista de invitados */
#guestTable {
    width: 100%;
    margin-top: 20px; /* Añade margen superior para separar visualmente */
}

#guestTable thead {
    display: none; /* Ocultar encabezado de tabla */
}

#guestTableBody {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#guestTableBody tr {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #e6b8003b; /* Fondo oscuro para las filas */
}

#guestTableBody td {
    border: none;
    padding: 5px 0;
    flex: 1;
    text-align: left; /* Alinear el texto a la izquierda */
}

#guestTableBody td:first-child {
    font-weight: bold;
}
#chatTable {
    display: flex;
    flex-direction: column;
    width: 100%; /* Asegura que tome todo el ancho disponible */
}


/* Estilo para la tabla de chat */
#chatTable th {
    display: none;
}

#chatTable td {
    background-color: #e6b8003b;
    margin-bottom: 10px;
    margin-top: 5px; /* Agrega margen superior pequeño */
    color: #000;
    position: relative;
    padding: 10px 15px; /* Reduce el padding */
    word-break: break-word;
}

/* Mensajes enviados en chat */
#chatTable td.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
    margin-left: auto;
}

/* Mensajes recibidos en chat */
#chatTable td.received {
    background-color: #fff;
    color: #000;
    align-self: flex-start;
}

/* Contenedor de tabla de chat para ajustar la vista */
#chatTable {
    display: flex;
    flex-direction: column;
}

/* Contenedor de filas de chat */
#chatTableBody {
    display: flex;
    flex-direction: column;
}


.nav-buttons-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.nav-buttons-container button {
    background-color: #ffcd00; /* Color amarillo Pac-Man */
    color: black; /* Texto negro */
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-buttons-container button:hover {
    background-color: #ffea70;
}

.playlist-heading {
    font-size: 24px;
    margin-bottom: 15px;
    color: #ffcd00; /* Color amarillo Pac-Man */
}

.playlist-list {
    list-style-type: none;
    padding: 0;
    text-align: left; /* Alinea la lista a la derecha */
}

.playlist-list li {
    margin-bottom: 10px;
}

.playlist-list li a {
    text-decoration: none;
    color: #ffcd00; /* Color amarillo Pac-Man */
    transition: color 0.3s ease;
    font-weight: bold; /* Texto en negrita */
    display: inline-block;
}

.playlist-list li a:hover {
    color: #ffea70; /* Color más claro al pasar el cursor */
    text-decoration: underline; /* Subrayado al pasar el cursor */
}
